@import '../../variables';

.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px 25px;
  }
  
  .form-inline button {
    padding: 10px 20px;
    background-color: $natural-blue;
    border: 1px solid #ddd;
    color: white;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .form-inline button:hover {
    background-color: $natural-blue-hover;
  }
  
  @media (max-width: 1020px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }