<div class="prepared-wrapper margin-bottom-7">
    <div class="grid-container">
        <div class="grid-row">
            <div class="gril-col-12">
                <h1>Be Prepared</h1>
                <p>There is a 63% chance that a large earthquake (magnitude 6.7 or greater) will occur between now and 2036 in the Bay Area*. The best earthquake hazard prevention lies in preparation. In the event of a large earthquake along the Hayward Fault, water, power, and transportation lines running along and across the fault will likely be severed, leaving people without access to water and power for several days, if not weeks to months. Furthermore, it may be several days before emergency personnel reach your area.</p>
                <p>You can take measures to prepare for an earthquake by following the steps below. With your help, we can continue to ensure that Bay Area life and commerce continue unabated into the future. The information provided below will help you get ready for the next big one.</p>
            </div>
            <div class="grid-col-12">
                <h2>Follow the Seven Steps to Earthquake Safety:</h2>
                <ol>
                    <li>Identify potential hazards in your home and begin to fix them.</li>
                    <li>Create a disaster-preparedness plan.</li>
                    <li>Create disaster kits.</li>
                    <li>Identify your building's potential weaknesses and begin to fix them.</li>
                    <li>Protect yourself during earthquake shaking.</li>
                    <li>After the quake, check for injuries and damage.</li>
                    <li>When safe, continue to follow your disaster-preparedness plan.</li>
                </ol>
            </div>
            <div class="grid-col-12">
                <h2>Resources</h2>
                <ul>
                    <li><a href="http://www.totallyunprepared.com/" target="_blank">Totally Unprepared</a>, a joint campaign of the California Office of Emergency Services and the California Earthquake Authority</li>
                    <li><a href="https://www.ready.gov/earthquakes" target="_blank">Information from FEMA</a></li>
                    <li><a href="https://abag.ca.gov/bayarea/eqmaps/" target="_blank">ABAG Hazards Info</a> - Association of Bay Area Governments</li>
                    <li><a href="http://www2.humboldt.edu/shakyground/" target="_blank">Living on Shaky Ground: How to Survive Earthquakes and Tsunamis in Northern California</a> - Humboldt State University</li>
                    <li><a href="http://pubs.usgs.gov/gip/2005/15/" target="_blank">Putting Down Roots in Earthquake Country</a> - United States Geological Survey</li>
                    <li><a href="http://theepicenter.com/howto.html" target="_blank">How to prepare for an emergency!</a> - from TheEpicenter.com</li>
                    <li><a href="https://www.ready.gov/community-preparedness-toolkit" target="_blank">Community Preparedness Toolkit</a> - Ready.gov</li>
                </ul>
                <p>*note: source <a href="https://seismo.berkeley.edu/" target="_blank">UC Berkeley</a></p>
            </div>
        </div>
    </div>
</div>