<header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo" id="basic-logo">
                <em class="usa-logo__text"><a routerLink="" title="Home" aria-label="Home">NaturalDisasters</a></em>
            </div>
            <button class="usa-menu-btn">Menu</button>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav">
            <button class="usa-nav__close"><img src="../../../assets/core/navbar/close.svg" role="img" alt="close"></button>
            <ul class="usa-nav__primary usa-accordion">
                <li class="usa-nav__primary-item">
                    <a class="usa-nav__link" routerLink="/EarthQuakes"><span>Earth Quakes</span></a>
                </li>
                <li class="usa-nav__primary-item">
                    <a class="usa-nav__link" routerLink="/BePrepared"><span>Be Prepared</span></a>
                </li>
                <li class="usa-nav__primary-item">
                    <a class="usa-nav__link" routerLink="/FrequentlyAsked"><span>FAQ</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>