<app-banner></app-banner>
<div class="home-info-wrapper">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-12 desktop:grid-col-6 desktop:grid-offset-3 text-center">
                <h2>How Does It Work ?</h2>
                <p>You provide us with the coordinates you want to learn Earthquakes data about and a start date from when you'd like to see the data. </p>
                <a class="big-blue-btn--dark" routerLink="/EarthQuakes">Test It Now</a>
            </div>
            <div class="grid-col-12 desktop:grid-col-6 desktop:grid-offset-3 text-center">
                <h2>Want to be prepared ?</h2>
                <p>Read the seven steps to Earthquake safety.</p>
                <a class="big-blue-btn--dark" routerLink="/BePrepared">Be Prepared</a>
            </div>
            <div class="grid-col-12 desktop:grid-col-6 desktop:grid-offset-3 text-center">
                <h2>Have a Question ?</h2>
                <p>Someone else might had the same question, check our FAQ section.</p>
                <a class="big-blue-btn--dark" routerLink="FrequentlyAsked">Frequent Qs</a>
            </div>
        </div>
    </div>
</div>
